<?php
use Survey\SurveyPage\Block\getProducts;
 ?>

<?php // foreach($block->getProducts() as $product): ?>
    <?php /** @var Survey\SurveyAnswer\Model\Answer */ ?>
    <h2><?php // echo $product->getName(); ?></h2>
<?php // endforeach; ?>

<?php $productArray = array(); ?>
<?php foreach($block->getProducts() as $product): ?>
<?php /** @var Survey\SurveyAnswer\Model\Answer */ ?>
<?php array_push($productArray, $product->getName()); ?>
<?php endforeach; ?>

<form class="form" id="questionForm" action="/survey/index/results" method="post">

    <div>Customer satisfaction survey</div>
    
    
    1. In the scale 1-10, how user-friendly you find our web-pages to be?
    <select name="question1">
        <option value="1"  name="question1">1</option>
        <option value="2"  name="question1">2</option>
        <option value="3"  name="question1">3</option>
        <option value="4"  name="question1">4</option>
        <option value="5"  name="question1">5</option>
        <option value="6"  name="question1">6</option>
        <option value="7"  name="question1">7</option>
        <option value="8"  name="question1">8</option>
        <option value="9"  name="question1">9</option>
        <option value="10" name="question1">10</option>
    </select><br>
    <br>
    
    2. Was it easy to find a product you were looking for?<br>
    <input type="radio" value="1" name="question2">Yes<br>
    <input type="radio" value="0"  name="question2">No<br>
    <br>
    
    3. Have you used any of the following products during last month? Select all that apply.<br>
    <input type="checkbox" value="1"       name="question3a"> <?php echo $productArray[0];?> <br>
    <input type="checkbox" value="1"  name="question3b"> <?php echo $productArray[1];?> <br>
    <input type="checkbox" value="1"        name="question3c"> <?php echo $productArray[2];?> <br>
    <input type="checkbox" value="1"     name="question3d"> <?php echo $productArray[3];?> <br>
    <br>
    
    4. Give your own comments about our online shop here.
    <textarea value="text" name="comment" rows="4" cols="20"></textarea><br>
    <br>
    
    5. Gender<br>
    <input type="radio" value="1"    name="gender">Male<br>
    <input type="radio" value="0"  name="gender">Female<br>
    <br>
    
    6. How old are you?<br>
    <input type="radio" value="1" name="age">Under 15 years old<br>
    <input type="radio" value="2" name="age">15 - 24 years old<br>
    <input type="radio" value="3" name="age">25 - 34 years old<br>
    <input type="radio" value="4" name="age">35 - 44 years old<br>
    <input type="radio" value="5" name="age">45 years old or over<br>
    <br>
    
    
    <button type="submit">Submit</button>
    
</form>
